/* Minimal css reset */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Reset box-sizing to border-box for easier layout calculations */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margins from all elements */
* {
  margin: 0;
    font-family: "Work Sans", sans-serif;
}

/* Optional: Set a base font size and line height for the body */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* Improve text rendering on WebKit browsers */
}

/* Optional: Ensure images and media are responsive */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Optional: Remove default styles from form elements and ensure font inheritance */
input,
button,
textarea,
select {
  font: inherit;
}

/* Optional: Prevent text overflows in pre-formatted text */
pre {
  white-space: pre-wrap;
}

/* Optional: Improve accessibility for interactive elements */
a {
  text-decoration: none;
  color: inherit;
}


 
header {
  background-color: rgb(242, 116, 245);
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;

}

.logo {
  width: 150px;
}

nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

nav a {
  transition: transform 0.2s ease;
  padding-bottom: 10px;
}

nav a:hover {
  transform: scale(1.1);

}

.home-icon {
  font-size: 24px;
  display: flex;
  align-items: center;
}