
.hero {
  height: 100vh;
  background-image: url(bilder/bakgrunn.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: purple;
  padding: 50px;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: purple;
  font-size: 20px;


}

ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

h2>span {
  color: rgb(216, 5, 244);
  font-style: italic;
  font-size: 35px;
}

h1 {
  font-size: 70px;
  text-transform: uppercase;
  padding: 50px;
  border: 4px solid purple;
  max-width: 660px;
  color: #f1a1f0;
  text-shadow: 4px 4px 0 purple;
}

.introboks {
  display: flex;
  align-items: center;
  height: 100%;
}


#katalog {
  min-height: 100vh;
  background-color: #fdf0fe;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 50px;

}

.spill {
  height: 450px;
  width: 350px;
  border: 3px solid purple;
  border-radius: 30px;
  box-shadow: 6px 7px 0 #f1a1f0;
}

.trepaarad {
  background-image: url(bilder/trepaarad.png);
  background-position: top;
  background-size: cover;


}

.wordle {
  background-image: url(bilder/wordle.png);
  background-position: top;
  background-size: cover;


}

.dino {
  background-image: url(bilder/dino.jpg);
  background-position: top;
  background-size: cover;


}

footer{
  background-color: purple;
}

@media (width < 625px) {
  h1{
    font-size: 50px;
  }
  
}

@media (width < 525px) {
  h1{
    font-size: 40px;
    padding: 50px 30px;
  }

  #katalog{
    padding: 50px;
  }
  
}