section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    max-height: 100vh;
}

h1 {
    text-align: center;
    width: 50%;
    border-bottom: 3px solid purple;
    font-size: 60px;
    color: plum;
    text-shadow: 4px 4px 0 purple;
}

#container {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-auto-rows: 60px;
    gap: 5px;
}

.rute {
    border: 2px solid gray;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    caret-color: transparent;

}

.rute:focus {
    outline: none;
    border: 3px solid purple;
    background-color: rgb(217, 197, 217, 0.6);


}

#keyboard {
    height: 200px;
}

.keyboard-rad {
    display: flex;
    justify-content: center;
    gap: 7px;
    width: 100%;
    margin-bottom: 7px;
    /* touch-action: manipulation; */
}

.keyboard-rad button {
    height: 50px;
    width: 50px;
    border: none;
    background-color: rgb(217, 197, 217);
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 3px;

}

button.bred-tast {
    width: 80px;
}